/* color palette from <https://github.com/vuejs/theme> */
:root {
  --black: #000000;
  --white: white;

  --pseudo-black: #121212;
  --green: hsla(160, 100%, 37%, 1);
  --green-light: hsla(160, 100%, 37%, 0.2);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-text: var(--black);
  --color-border: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--pseudo-black);
    --color-text: var(--white);
    --color-border: var(--white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0; */
  position: relative;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
